body{
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
}



.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}

.formulario{
    font-family: Helvetica, sans-serif;
}

.formulario h3{
    color: #025157
}

.formulario button{
    background-color: #025157;
}

.formulario p{
    color: #343434
}