body{
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
}



.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}

.formulario{
    font-family: Helvetica, sans-serif;
}

.formulario h2{
    color: #025157
}

.formulario button{
    background-color: #025157;
}

.formulario p{
    color:#343434
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.video-container img{
    width: 120px;
    margin-top: 10px;
  
}